.UserList {
	background: #fff;
	color: #000;
	list-style: none;
	margin: 0 0 1em;
	min-height: 1em;
	padding: 10px 0;
}
	.UserList.hover {
		background: #efe;
	}
	.UserList li {
		line-height: 1.2em;
		list-style: none;
		margin: 0;
		padding: 2px 2px 2px 25px;
	}
	.rbac_busy_marker {
	  position: absolute;
	}